# OS
.DS_Store

# Node (if frontend/backend uses JS)
node_modules/
dist/
build/

# Python (if used)
__pycache__/
*.pyc
venv/

# Environment variables
.env
.env.txt
.env.local

# Excel / exports
*.xlsx

# IDE
.vscode/
.idea/
